<template>
  <v-dialog v-model="showModal" fullscreen persistent>
    <v-card>
      <v-toolbar elevation="0" dark color="primary">
        <v-toolbar-title>
          Solicitud
        </v-toolbar-title>

        <v-spacer />

        <v-btn icon @click="closeModal">
          <v-icon>
            close
          </v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text class="mt-6">
        <h2 class="mb-4">
          Datos del alumno
        </h2>

        <p>
          <strong>
            Nombre:
          </strong>
          {{ fullName }}
        </p>

        <p>
          <strong>
            Email:
          </strong>
          {{ attemptSelected.user.email }}
        </p>

        <p v-if="attemptSelected.user.enrollment">
          <strong>
            Matricula
          </strong>
          {{ attemptSelected.user.enrollment }}
        </p>

        <p>
          <strong>
            Fecha de admision:
          </strong>
          {{ attemptSelected.user.dateOfAdmission | timeToSpanish }}
        </p>

        <p v-if="attemptSelected.user.graduate">
          <strong>
            Fecha de graduacion
          </strong>
          {{ attemptSelected.user.egressDate | timeToSpanish }}
        </p>


        <v-divider />

        <h2 class="mt-4">
          Archivo de verificacion
        </h2>

        <a class="d-block mt-4" @click="openVerificationFile">
          <v-icon color="primary">
            attach_file
          </v-icon>
          {{ attemptSelected.verificationFile }}
        </a>
      </v-card-text>

      <v-card-actions>
        <v-spacer />

        <v-btn outlined color="primary" :disabled="isLoading" @click="updateState(1)">
          Rechazar
        </v-btn>

        <v-btn depressed color="primary" :disabled="isLoading" @click="updateState(2)">
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
  import {Component, Vue, Emit, Prop} from "vue-property-decorator";
  import environment from "@/core/shared/environment";
  import {AttemptEntity, STATUS_ATTEMPT} from "@/core/entity/attempt/AttemptEntity";

  @Component({
    name: "NoticeDetail",
    filters: {
      timeToSpanish(date: string) {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString("es-ES", options);
      }
    }
  })
  export default class AttemptDetail extends Vue {
    @Prop({
      required: true,
      type: Object
    })
    public attemptSelected!: AttemptEntity;

    @Prop({
      type: Boolean,
      required: true
    })
    public showModal!: boolean;

    @Prop({
      type: Boolean,
      required: true
    })
    public isLoading!: boolean;

    private openVerificationFile() {
      window.open(`${environment.base_storage_url}/${this.attemptSelected.verificationFile}`)
    }

    @Emit()
    private closeModal() {}

    @Emit()
    private updateState(state: STATUS_ATTEMPT) {
      return {
        state,
        attempt_id: this.attemptSelected._id,
        user_id: this.attemptSelected.user._id
      };
    }

    get fullName() {
      return `${this.attemptSelected.user.name} ${this.attemptSelected.user.lastname}`;
    }
  }
</script>

<style scoped>

</style>