<script lang="ts">
import {Component, Mixins, Prop} from "vue-property-decorator";
import {Bar} from "vue-chartjs";
import {ChartData, ChartOptions} from "chart.js";
import {Technology} from "@/views/Home.vue";


@Component({
  name: "BarChart"
})
export default class BarChart extends Mixins(Bar) {
  @Prop()
  technologies!: Technology[];

  public mounted() {
    const tech: string[] = [];
    const usages: number[] = [];

    this.technologies.forEach(e => {
      tech.push(e.technology)
      usages.push(e.usages);
    });


    const charData: ChartData = {
      labels: tech,

      datasets: [
        {
          backgroundColor: [
            "#F43B86",
            "#3D087B",
            "#FFE459",
            "#262A53",
            "#B42B51",
            "#1597BB",
            "#892CDC",
            "#FF6363",
            "#363062",
            "#443737",
            "#ED5107",
            "#8236CB",
            "#628395",
            "#A6F0C6",
            "#A9294F",
            "#132743",
            "#440047",
          ],
          data: usages
        },
      ]
    };

    const options: ChartOptions = {
      responsive: true,
      legend: {
        display: false
      },
      tooltips: {
        enabled: true
      },
      hover: {
        mode: undefined
      },
    }

    this.renderChart(charData, options);
  }
}
</script>

<style scoped>

</style>