<script lang="ts">
import {Component, Mixins, Prop} from "vue-property-decorator";
import {Pie} from "vue-chartjs";
import {ChartData, ChartOptions} from "chart.js";

@Component({
  name: "Example"
})
export default class Example extends Mixins(Pie) {
  @Prop()
  labels!: string[]

  @Prop()
  segmentA!: number;

  @Prop()
  segmentB!: number;


  public mounted() {
    const charData: ChartData = {
      labels: this.labels,

      datasets: [
        {
          backgroundColor: ["#F43B86", "#3D087B", "#FFE459", "#262A53"],
          data: [this.segmentA, this.segmentB]
        },
      ]
    };

    const options: ChartOptions = {
      responsive: true,
      legend: {
        display: false
      },
      tooltips: {
        enabled: true
      },
      hover: {
        mode: undefined
      },
    }

    this.renderChart(charData, options);
  }
}
</script>

<style scoped>

</style>