<template>
  <app-layout>
    <v-container>
      <v-row>
        <v-col cols="12">
          <h1>
            Accesos
          </h1>
        </v-col>

        <v-col class="col-12">
          <v-simple-table>
            <thead>
            <tr>
              <th>
                Nombre
              </th>

              <th>
                Apellidos
              </th>

              <th>
                Email
              </th>

              <th>
                Acciones
              </th>
            </tr>
            </thead>

            <tbody>
            <template v-for="(item, i) of users">
              <tr :key="i">
                <td>
                  {{ item.name }}
                </td>

                <td>
                  {{ item.lastname }}
                </td>

                <td>
                  {{ item.email }}
                </td>

                <td>
                  <v-btn color="red" icon @click="removeModerator(item.email)">
                    <v-icon>
                      delete
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
            </tbody>
          </v-simple-table>
        </v-col>
      </v-row>

      <v-btn fixed bottom right color="primary" fab @click="modal_add = true">
        <v-icon>
          add
        </v-icon>
      </v-btn>
    </v-container>

    <v-dialog persistent max-width="600" v-model="modal_add">
      <v-card>
        <v-card-title>
          Buscar y agregar personal
        </v-card-title>
        <v-card-text>

          <div class="d-flex align-center mt-2">
            <v-text-field
                outlined
                dense
                class="mt-0"
                label="Email"
                v-model="email_search"
                hide-details
                :disabled="isLoading"
            />

            <v-btn color="primary" depressed @click="search" :loading="isLoading">
              <v-icon>search</v-icon>
            </v-btn>
          </div>

          <div>

          </div>

          <h4 class="text-center mt-4" v-if="no_results">
            Sin resultados
          </h4>

          <div class="mt-4" v-if="!no_results && has_a_search">
            <v-list-item @click="addToAccess">
              <v-list-item-content>
                <h4>
                  {{ user.name }} {{ user.lastname }}
                </h4>
                <p class="text--primary mb-0">
                  {{ user.email }}
                </p>
              </v-list-item-content>
            </v-list-item>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer/>
          <v-btn color="red" dark depressed outlined @click="closeAndReset">
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </app-layout>
</template>

<script lang="ts">

import {Component, Vue} from "vue-property-decorator";
import AppLayout from "@/layouts/AppLayout.vue";
import {UserEntity} from "@/core/entity/auth/UserEntity";
import AuthApi from "@/core/network/AuthApi";

@Component({
  name: "Access",
  components: {AppLayout}
})
export default class Access extends Vue {

  modal_add = false;
  email_search = "";
  isLoading = false;
  no_results = false;
  has_a_search = false;
  user: Partial<UserEntity> = {};
  users: UserEntity[] = [];

  mounted() {
    this.getUsersByRoll();
  }

  async removeModerator(email: string) {
    await new AuthApi()
        .getAxios()
        .put("/user/roll", {
          email,
          roll: 3
        });

    await this.getUsersByRoll();
  }

  async addToAccess() {
    await new AuthApi()
        .getAxios()
        .put("/user/roll", {
          email: this.user.email,
          roll: 1
        })
        .then(() => this.getUsersByRoll())
        .catch(() => {
          console.log("Error");
        })
        .finally(() => this.closeAndReset());
  }

  async search() {
    this.isLoading = true;
    return new AuthApi()
        .getAxios()
        .get("/user/find", {
          params: {
            email: this.email_search
          }
        })
        .then(value => {
          if (value.data.data) {
            this.no_results = false;
            this.user = value.data.data;
          }
        })
        .catch(() => {
          this.no_results = true;
        })
        .finally(() => {
          this.isLoading = false;
          this.has_a_search = true;
        });
  }

  async closeAndReset() {
    this.user = {};
    this.modal_add = false;
    this.no_results = false;
    this.has_a_search = false;
  }

  async getUsersByRoll() {
    const result = await new AuthApi()
        .getAxios()
        .get("/user")

    if (result.data.ok) {
      this.users = result.data.data;
    }
  }
}
</script>

<style scoped>

</style>