<template>
  <AppLayout>
    <v-container>
      <v-row>
        <v-col cols="12">
          <h1>
            Solicitudes de aprovacion
          </h1>
        </v-col>
      </v-row>

      <v-row>
        <v-col class="col-12 col-md-4">
          <h2>Filtrar por </h2>
        </v-col>

        <v-col class="col-12 col-md-8">
          <v-select
            dense
            outlined
            hide-details
            v-model="attemptState"
            :items="attemptStates"
            item-text="text"
            item-value="value"
            return-object
            @change="attemptStatesChange"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col class="col-md-12">
          <v-simple-table>
            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Documento</th>
                <th class="text-center">Fecha de solicitud</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(attempt, i) of attempts" :key="i" @click="showAttempt(attempt)" class="cursor-pointer">
                <td class="text-center">
                  {{ attempt.user.name }} {{ attempt.user.lastname }}
                </td>

                <td class="text-center">
                  <v-icon>
                    attach_file
                  </v-icon>

                  {{ attempt.verificationFile }}
                </td>

                <td class="text-center">
                  {{ attempt.createdAt | timeToSpanish }}
                </td>
              </tr>
            </tbody>
          </v-simple-table>

          <InfiniteLoading
            class="mx-auto"
            @infinite="loadNextPage"
            ref="infiniteLoading"
          >
            <div slot="no-more" class="mt-4">
              No hay mas resultados
            </div>
            <div slot="no-results" class="mt-4">
              No mas resultados
            </div>
          </InfiniteLoading>
        </v-col>
      </v-row>

      <AttemptDetail
        :is-loading="isLoading"
        :show-modal="showModal"
        :attempt-selected="attemptSelected"
        @close-modal="closeModal"
        @update-state="updateState"
      />
    </v-container>
  </AppLayout>
</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";
  import AppLayout from "@/layouts/AppLayout.vue";
  import {getModule} from "vuex-module-decorators";
  import Attempt from "@/store/attempt";
  import {AttemptEntity, STATUS_ATTEMPT} from "@/core/entity/attempt/AttemptEntity";
  import InfiniteLoading from "vue-infinite-loading";
  import AttemptDetail from "@/components/attempt/AttemptDetail.vue";
  import {UpdateAttemptPort} from "@/core/repository/attempt/port/UpdateAttemptPort";

  @Component({
    name: "Attempts",
    components: {
      AttemptDetail,
      AppLayout,
      InfiniteLoading
    },
    filters: {
      timeToSpanish(date: string) {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString("es-ES", options);
      }
    }
  })
  export default class Attempts extends Vue {

    private attemptModule = getModule(Attempt, this.$store);

    public $refs!: {  infiniteLoading: any }

    async mounted() {
      if (this.attempts.length === 0) await this.getFirsts();
    }

    private page = -1;
    private isLoading = false;
    private attempts: AttemptEntity[] = [];

    private attemptSelected: AttemptEntity = {
      _id: "",
      createdAt: "",
      status: STATUS_ATTEMPT.PENDING,
      user: {
        name: "",
        lastname: "",
        graduate: false,
        email: "",
        active: false
      },
      verificationFile: ""
    };

    private showModal = false;

    private attemptState = {
      text: 'Pendiente',
      value: 0
    };

    private attemptStates = [
      {
        text: 'Pendiente',
        value: STATUS_ATTEMPT.PENDING
      },
      {
        text: 'Rechazada',
        value: STATUS_ATTEMPT.REJECTED
      },
      {
        text: 'Aceptada',
        value: STATUS_ATTEMPT.ACCEPTED
      }
    ];

    public async getFirsts() {
      const result = await this.getAttempts(0, STATUS_ATTEMPT.PENDING);
      this.attempts = result.data!;
    }

    private getAttempts(page: number, status: STATUS_ATTEMPT) {
      return this.attemptModule.getAttempts({
        status,
        page
      });
    }

    private async loadNextPage($state: any) {
      const request = await this.getAttempts(++this.page, this.attemptState.value);

      if (request.data!.length !== 0) {

        request.data!.forEach(item => {
          if (!this.attempts.some(value => value._id === item._id)) {
            this.attempts.push(item);
          }
        });
        $state.loaded();
      } else {
        $state.complete();
      }
    }

    private async attemptStatesChange(data: { text: string, value: STATUS_ATTEMPT }) {
      this.$refs.infiniteLoading.stateChanger.reset();
      let page = 0;
      const result = await this.getAttempts(page, data.value);
      this.attempts = result.data!;
    }

    private showAttempt(attempt: AttemptEntity) {
      this.showModal = true;
      this.attemptSelected = attempt;
    }

    private async updateState(payload: UpdateAttemptPort) {
      this.isLoading = true;

      try {
        await this.attemptModule.updateAttempt(payload);
        this.attempts = this.attempts.filter(item => item._id !== payload.attempt_id);
      } catch (e) {
        console.log(e);
      } finally {
        this.isLoading = false;
        this.closeModal();
      }
    }

    private closeModal() {
      this.showModal = false;
    }
  }
</script>

<style scoped>
  .cursor-pointer {
    cursor: pointer;
  }
</style>