<template>
  <AppLayout>
<!--    <v-tabs grow v-model="tab">
      <v-tab>
        Formulario
      </v-tab>

      <v-tab>
        Preview
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <CreateNoticeForm />
      </v-tab-item>

      <v-tab-item>
&lt;!&ndash;        <NoticePreview
          :notice="noticeEntity"
        />&ndash;&gt;
      </v-tab-item>
    </v-tabs-items>-->
    <CreateNoticeForm />
  </AppLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import AppLayout from "@/layouts/AppLayout.vue";
  import CreateNoticeForm from "@/components/notice/CreateNoticeForm.vue";
  import NoticePreview from "@/components/notice/NoticePreview.vue";

  @Component({
    name: "CreateNotice",
    components: {
      NoticePreview,
      CreateNoticeForm,
      AppLayout
    }
  })
  export default class CreateNotice extends Vue {
    private tab = 0;
  }
</script>

<style scoped>

</style>