<template>
  <AppLayout>
    <v-container>
      <v-row>
        <v-col class="col-md-12">
          <h1>
            Inicio
          </h1>
        </v-col>
      </v-row>

      <v-row>
        <v-col class="col-md-12 mb-2">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col class="d-flex flex-column  justify-center">
                  <h1 class="font-weight-bold">
                    Graduados con experiencia
                  </h1>

                  <p class="mt-4 mb-1">
                    Con experiencia: {{ response.graduates_with_experience.with_experience }}
                  </p>

                  <p>
                    Sin experiencia
                  </p>
                </v-col>

                <v-col>
                  <Example
                      class="mt-4"
                      :labels="['Tienen experiencia', 'No tienen experiencia']"
                      :segment-a="response.graduates_with_experience.with_experience"
                      :segment-b="response.graduates_with_experience.without_experience"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col class="col-md-6 mb-2">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col class="d-flex flex-column  justify-center">
                  <h1 class="text-center">
                    Alumnos con empleo
                  </h1>

                  <p class="mt-4 mb-1 text-center font-weight-bold">
                    Con empleo: {{ response.alumnus_job_chart.has_job }}
                  </p>

                  <p class="text-center font-weight-bold">
                    Sin empleo: {{ response.alumnus_job_chart.without_job }}
                  </p>
                </v-col>
                <v-col>
                  <Example
                      class="mt-4"
                      :labels="['Tienen un empleo', 'No tienen empleo']"
                      :segment-a="response.alumnus_job_chart.has_job"
                      :segment-b="response.alumnus_job_chart.without_job"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col class="col-md-6 mb-2">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col class="d-flex flex-column  justify-center">
                  <h1 class="text-center">
                    Egresados con empleo
                  </h1>

                  <p class="mt-4 mb-1 text-center font-weight-bold">
                    Con empleo: {{ response.graduates_job_chart.has_job }}
                  </p>

                  <p class="text-center font-weight-bold">
                    Sin empleo: {{ response.graduates_job_chart.without_job }}
                  </p>
                </v-col>
                <v-col>
                  <Example
                      class="mt-4"
                      :labels="['Tienen un empleo', 'No tienen empleo']"
                      :segment-a="response.graduates_job_chart.has_job"
                      :segment-b="response.graduates_job_chart.without_job"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col class="col-md-12 mb-2">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col class="d-flex flex-column  justify-center">
                  <h1 class="text-center">
                    Buscando empleo en linkedin
                  </h1>

                  <p class="mt-4 mb-1 text-center font-weight-bold">
                    Estan buscando empleo: {{ response.alumnus_with_linkedin.with_linkedin }}
                  </p>

                  <p class="text-center font-weight-bold">
                    No buscan empleo: {{ response.alumnus_with_linkedin.without_linkedin }}
                  </p>
                </v-col>
                <v-col>
                  <Example
                      class="mt-4"
                      :labels="['Buscan empleo en linkedin', 'No buscan empleo']"
                      :segment-a="response.alumnus_with_linkedin.with_linkedin"
                      :segment-b="response.alumnus_with_linkedin.without_linkedin"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col class="col-md-12 mb-2">
          <v-card>
            <v-card-text>
              <h2 class="text-center">
                Tecnologias populares entre los estudiantes
              </h2>
              <BarChart
                  class="mt-4"
                  :technologies="response.popular_technologies"
              />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </AppLayout>
</template>

<script lang="ts">

import BarChart from "@/components/charts/BarChart.vue";

export interface Technology {
  "technology": string,
  "usages": number
}

interface Data {
  "alumnus_job_chart": {
    "total_alumnus": number,
    "has_job": number,
    "without_job": number
  },
  "graduates_job_chart": {
    "total_graduates": number,
    "has_job": number,
    "without_job": number
  },
  "alumnus_with_linkedin": {
    "total_alumnus": number,
    "with_linkedin": number,
    "without_linkedin": number
  },
  "graduates_with_experience": {
    "total_graduates": number,
    "with_experience": number,
    "without_experience": number
  },
  "popular_technologies": Technology[]
}

import {Component, Vue} from "vue-property-decorator";
import AppLayout from "@/layouts/AppLayout.vue";
import Example from "@/components/charts/Example.vue";
import AuthApi from "@/core/network/AuthApi";

@Component({
  name: 'Home',
  components: {
    BarChart,
    Example,
    AppLayout
  }
})
export default class Home extends Vue {

  response: Partial<Data> = {}

  async mounted() {
    await this.getDataCharts();
    console.log(this.response)
  }

  async getDataCharts() {
    const response = await new AuthApi()
        .getAxios()
        .get<Data>("/charts");

    this.response = response.data;
  }
}
</script>
