<template>
  <v-app>
    <v-main class="sic-bg">
      <v-container>
        <v-row style="min-height: 100vh" align="center">
          <v-col class="col-md-6">
            <h1 class="mb-2">
              TESCo-SIC
            </h1>

            <p style="color: #7E7E7E">
              Construyamos el futuro con educacion y tecnologia
            </p>

            <v-form class="mt-8">
              <h2 class="mb-4" style="color: #3DE29D">
                Administrador
              </h2>

              <v-text-field
                label="Email"
                outlined
                dense
                rounded
                type="email"
                hide-details
                class="mb-4"
                v-model="user.email"
              />

              <v-text-field
                label="Contraseña"
                outlined
                dense
                rounded
                hide-details
                type="password"
                class="mb-6"
                v-model="user.password"
              />

              <v-btn
                block
                color="#3DE29D"
                rounded
                dark
                depressed
                :loading="loading"
                @click="loginIntent"
              >
                iniciar sesion
              </v-btn>

              <v-btn
                class="mt-4"
                block
                outlined
                color="blue"
                rounded
                dark
                depressed
                @click="goToApp"
              >
                visitrar aplicacion
              </v-btn>
            </v-form>
          </v-col>
        </v-row>
      </v-container>

      <v-snackbar v-model="error">
        Credenciales incorrectas por favor verifica tus datos
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {LoginPort} from "@/core/repository/auth/AuthPort";
  import {getModule} from "vuex-module-decorators";
  import Auth from "@/store/auth";
  import {UserEntity} from "@/core/entity/auth/UserEntity";

  @Component({
    name: "Login"
  })
  export default class Login extends Vue {

    private authModule = getModule(Auth, this.$store);

    private error = false;

    private loading = false;

    private user: LoginPort = {
      email: "",
      password: ""
    }

    private async loginIntent() {
      this.loading = true;
      const result = await this.authModule.loginByEmail(this.user);
      if (!result.ok) return this.loginFailed()
      return this.loginSuccess(result.data!, result.message!);
    }

    private loginFailed() {
      this.error = true
      this.loading = false;
    }

    private loginSuccess(user: UserEntity, token: string) {
      this.authModule.setUser(user);
      this.authModule.setToken(token);
      this.$router.push("/home");
      this.loading = false;
    }

    public goToApp() {
      window.open("https://tesco-sic.vercel.app/#/", "_blank");
    }
  }
</script>

<style scoped>
  .sic-bg {
    background-image: url("~@/assets/img/logo.png");
    background-size: 60%;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: right -50% center;
  }

  @media screen and (max-width: 768px){
    .sic-bg {
      background-image: inherit;
    }
  }
</style>