<template>
  <AppLayout>
    <v-container>
      <v-row>
        <v-col class="col-md-12">
          <h1 class="super-font">
            Anuncios
          </h1>
        </v-col>

        <NoticeItem
          v-for="notice of notices"
          :key="notice._id"
          :notice="notice"
          @delete-notice="showConfirmationDelete"
        />
      </v-row>

      <InfiniteLoading
        class="mt-4"
        @infinite="getNextPage"
      >
        <div slot="no-more" class="mt-4">
          No hay mas resultados
        </div>
        <div slot="no-results">
          No se han publicado anuncios
        </div>
      </InfiniteLoading>
    </v-container>

    <v-btn
      fab
      fixed
      bottom
      right
      dark
      color="primary"
      @click="goToCreateNotice"
    >
      <v-icon>
        add
      </v-icon>
    </v-btn>

    <v-dialog v-model="showModal" max-width="500" persistent>
      <v-card>
        <v-card-title>
          ¿Eliminar este anuncio?
        </v-card-title>
        <v-card-text>
          Esta accion no se puede revertir y se borrara definitivamente de la base de datos
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn outlined color="primary" :disabled="isLoading" @click="showModal = false">
            Cancelar
          </v-btn>

          <v-btn color="primary" :disabled="isLoading" :loading="isLoading" @click="deleteNotice">
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="errorToast">
      Ha ocurrido un error
    </v-snackbar>
  </AppLayout>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import AppLayout from "@/layouts/AppLayout.vue";
  import NoticeItem from "@/components/notice/NoticeItem.vue";
  import {getModule} from "vuex-module-decorators";
  import Notice from "@/store/notice";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";
  import InfiniteLoading from 'vue-infinite-loading';

  @Component({
    name: "Notices",
    components: {
      NoticeItem,
      AppLayout,
      InfiniteLoading
    }
  })
  export default class Notices extends Vue {

    private noticeModule = getModule(Notice, this.$store);

    private id_delete = "";
    private isLoading = false;
    private active = false;
    private page: number = -1;
    private notices: NoticeEntity[] = [];
    private showModal = false;
    private errorToast = false;

    private async mounted() {
      await this.getFirsts();
    }

    public async getFirsts() {
      const result = await this.getNotices();
      const data = result.data!;
      this.notices = this.notices.concat(data);
    }

    public async getNextPage($state: any) {
      const result = await this.getNotices();
      if (result.ok) this.addItemsToArray(result.data!, $state);
      else this.active = true;
    }

    private getNotices() {
      return this.noticeModule.getNotices({
        page: ++this.page
      });
    }

    private showConfirmationDelete(id: string) {
      this.id_delete = id;
      this.showModal = true;
    }

    private async deleteNotice() {
      this.isLoading = true;
      const result = await this.noticeModule.deleteNoticeById({ notice_id: this.id_delete });

      if (!result.ok) {
        this.showModal = false;
        this.errorToast = true;
      }

      this.isLoading = false;
      this.removeElementToArray();
      this.showModal = false;
    }

    private removeElementToArray() {
      this.notices = this.notices.filter(item => item._id !== this.id_delete);
    }

    private addItemsToArray(data: NoticeEntity[], $state: any) {
      if (data.length !== 0) {
        this.notices = this.notices.concat(data);
        $state.loaded();
      } else {
        $state.complete();
      }
    }

    private goToCreateNotice() {
      this.$router.push('/crear-anuncio');
    }
  }
</script>

<style scoped>
  .super-font {
    font-size: 48px;
  }

  @media screen and (max-width: 425px) {
    .super-font {
      font-size: 36px;
    }
  }
</style>