<template>
  <app-layout>
    <v-container>
      <v-row>
        <v-col class="col-12">
          <h1>
            Cambiar contraseña
          </h1>

          <p>
            Esta contraseña solo podra ser cambiada por el administrador
          </p>
        </v-col>

        <v-col class="col-md-12">
          <v-form>
            <v-text-field
                outlined
                v-model="dataUser.password"
                label="Contraseña nueva"
                :rules="[rules.required, rules.counter]"
            />

            <v-text-field
                outlined
                v-model="dataUser.password_repeat"
                :rules="[rules.required, rules.counter]"
                label="Confirmar contraseña"
            />

            <v-btn
                color="primary"
                :disabled="dataUser.password !== dataUser.password_repeat || dataUser.password.length === 0"
                @click="changePassword"
            >
              Actualizar contraseña
            </v-btn>

            <p v-if="dataUser.password !== dataUser.password_repeat" class="red--text mt-4">
              Contraseñas no coinciden
            </p>
          </v-form>
        </v-col>
      </v-row>

      <v-snackbar v-model="show">
        {{ message }}
      </v-snackbar>
    </v-container>
  </app-layout>
</template>

<script lang="ts">
import AppLayout from "../layouts/AppLayout.vue";
import {Component, Vue} from "vue-property-decorator";
import {getModule} from "vuex-module-decorators";
import Auth from "@/store/auth";
import AuthApi from "@/core/network/AuthApi";

@Component({
  name: "Settings",
  components: {AppLayout}
})
export default class Settings extends Vue {
  authModule = getModule(Auth, this.$store);

  dataUser = {
    email: "",
    password: "",
    password_repeat: ""
  }

  rules = {
    required: (value: string) => !!value || 'Requerido.',
    counter: (value: string) => value.length > 5 || 'Contraseña demasiado corta',
  }

  show = false
  message = "";

  async changePassword() {
    const result: any = await new AuthApi()
        .getAxios()
        .put("/user/password", {
          email: this.authModule.user.email,
          password: this.dataUser.password
        });

    this.show = true;

    if (result.data.ok) {
      this.message = "Contraseña cambiada";

      setTimeout(() => {
        this.authModule.logout()
            .then(() => this.$router.push("/"))
      }, 1000);
    } else {
      this.message = result.error;
    }
  }
}
</script>

<style scoped>

</style>