<template>
  <v-list-item link @click="goToRoute">
    <v-list-item-icon>
      <v-icon color="#3DE29D">
        {{ webRouteEntity.icon }}
      </v-icon>
    </v-list-item-icon>

    <v-list-item-content>
      <v-list-item-title class="menu-text">
        {{ webRouteEntity.text }}
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script lang="ts">
  import {Component, Vue, Prop} from "vue-property-decorator";
  import {WebRouteEntity} from "@/core/entity/web/WebRouteEntity";

  @Component({
    name: "MenuLink"
  })
  export default class MenuLink extends Vue {
    @Prop({
      required: true,
      type: Object
    })
    private webRouteEntity!: WebRouteEntity;

    private goToRoute() {
      if (this.$route.path === this.webRouteEntity.route) this.$router.go(0);
      else this.$router.push(this.webRouteEntity.route);
    }
  }
</script>

<style scoped>
 .menu-text {
   color: #7E7E7E
 }
</style>