<template>
  <v-dialog v-model="active" max-width="400">
    <v-card>
      <v-card-title>
        {{ title }}
      </v-card-title>

      <v-card-text>
        <slot />
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          depressed
          rounded
          width="150"
          small
          class="mb-2"
          color="primary"
          @click="onOkButton"
        >
          aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
  import {Component, Emit, Prop, Vue} from "vue-property-decorator";

  @Component({
    name: "InfoModal"
  })
  export default class InfoModal extends Vue {
    @Prop({
      type: Boolean,
      required: true
    })
    public active!: boolean;

    @Prop({
      type: String,
      required: true
    })
    public title!: string;

    @Emit("onOkButton")
    public onOkButton() {}
  }
</script>

<style scoped>

</style>