<template>
  <div>
    <transition name="fade">
      <v-img
        class="max-height-cover"
        position="center"
        :src="notice.cover"
      >
        <div class="shadow-image px-10">
          <v-btn text dark depressed :ripple="false" :disabled="isLoading" @click="openFiles">
            Cambiar portada
          </v-btn>

          <v-progress-linear
            rounded
            indeterminate
            class="mt-8"
            height="6"
            v-if="isLoading"
          />
        </div>

        <input
          type="file"
          class="d-none"
          ref="file"
          @change="setFile"
        />
      </v-img>
    </transition>

    <v-container class="mt-2">
      <v-row>
        <v-col class="col-md-12">
          <h1>
            Nuevo anuncio
          </h1>

          <v-form class="mt-4">
            <v-text-field
              outlined
              label="Titulo del anuncio"
              v-model="notice.title"
            />

            <v-textarea
              outlined
              auto-grow
              label="Escribe una descripcion"
              v-model="notice.description"
              hide-details
            />
          </v-form>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" v-for="(el, i) of notice.layouts" :key="i">
          <LayoutItem
            :layout="el"
            :index="i"
            @remove-layout="removeLayout"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-btn block color="primary" outlined @click="addLayout">
            <v-icon left>
              add
            </v-icon>
            Agregar nueva seccion
          </v-btn>
        </v-col>

        <v-col>
          <v-btn block color="primary" :disabled="isLoading" :loading="isLoading" depressed @click="saveNotice">
            Guardar
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-snackbar v-model="hasError">
      Ha ocurrido un error
    </v-snackbar>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";
  import {getModule} from "vuex-module-decorators";
  import Upload from "@/store/upload";
  import environment from "@/core/shared/environment";
  import {IFile, IFileTypes} from "@/core/entity/file/IFile";
  import LayoutItem from "@/components/notice/LayoutItem.vue";
  import Notice from "@/store/notice";
  import Auth from "@/store/auth";
  import {ILayout} from "@/core/entity/notice/layout/ILayout";

  @Component({
    name: "CreateNoticeForm",
    components: {LayoutItem}
  })
  export default class CreateNoticeForm extends Vue {

    private authModule = getModule(Auth, this.$store);
    private noticeModule = getModule(Notice, this.$store);
    private uploadModule = getModule(Upload, this.$store);

    public $refs!: {  file: HTMLFormElement }

    private hasError = false;
    private isLoading = false;
    private inputFile!: any;

    private fileUploaded: IFile = {
      _id: "",
      name: "",
      type: IFileTypes.IMAGE
    };

    private notice: NoticeEntity = {
      _id: "",
      title: "",
      description: "",
      createdAt: "",
      cover: "https://cutt.ly/emhGzPS",
      layouts: []
    }

    private openFiles() {
      this.$refs.file.click();
    }

    private setFile($event: any) {
      this.inputFile = $event.target.files[0];
      this.uploadImage();
    }

    private removeLayout(index: number) {
      this.notice.layouts.splice(index, 1);
    }

    private addLayout() {
      this.notice.layouts.push({
        title: "",
        description: "",
        links: [],
        source: "",
        sources: [],
        type: 0,
        priority: 0,
      });
    }

    private async uploadImage() {
      this.isLoading = true;

      const formData = new FormData;
      formData.append("files", this.inputFile);
      const result = await this.uploadModule.uploadFile(formData);

      this.setImageUrlToNotice(result.data![0]);
      this.isLoading = false;
    }

    private setImageUrlToNotice(file: IFile) {
      this.fileUploaded = file;
      this.notice.cover = `${environment.base_storage_url}/${file.name}`;
    }

    private async saveNotice() {
      this.isLoading = true;

      const result = await this.noticeModule.createNotice({
        notice: this.notice,
        user_id: this.authModule.user._id!,
        layouts: this.getLayouts()
      });

      if (result.ok) {
        await this.$router.push('/anuncios');
      } else {
        this.hasError = true;
      }

      this.isLoading = false;
    }

    private getLayouts() {
      const result: any[] = [];

      this.notice.layouts.forEach(item => {
        let layout: any = {
          links: [],
          source: "",
          sources: item.sources,
          type: item.type,
          priority: item.priority,
          title: item.title,
          description: item.description
        }

        if (typeof item.source !== "string") {
          const source = item.source;
          layout.source = source!._id;
        } else {
          delete layout.source;
        }

        if (item.links) {
          layout.links = item.links;
        }

        result.push(layout);
      });

      return result;
    }
  }
</script>

<style scoped>
  .shadow-image {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .max-height-cover {
    height: 40vh;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0
  }
</style>