<template>
  <v-card rounded>
    <v-toolbar elevation="1" dark color="primary">
      <v-toolbar-title>
        Nueva seccion
      </v-toolbar-title>

      <v-spacer />

      <v-btn icon @click="fileActions" v-if="layout.type === 0 || layout.type === 2">
        <v-icon>
          attach_file
        </v-icon>
      </v-btn>

      <v-btn icon @click="linkActions" v-if="layout.type === 0 || layout.type === 1">
        <v-icon>
          link
        </v-icon>
      </v-btn>

      <v-btn icon @click="openFiles">
        <v-icon>
          image
        </v-icon>

        <input
          type="file"
          class="d-none"
          ref="file"
          @change="setFile"
        />
      </v-btn>

      <v-btn icon @click="removeLayout">
        <v-icon>
          delete
        </v-icon>
      </v-btn>
    </v-toolbar>

    <transition name="fade" v-if="typeof layout.source !== 'string'">
      <v-img
        class="max-height-cover"
        position="center"
        :src="source"
      >
        <div class="shadow-image px-8">
          <v-btn
            text
            dark
            depressed
            :ripple="false"
            :disabled="isLoading"
            @click="deleteAndResetSource"
          >
            <v-icon left>delete</v-icon>
            Eliminar portada
          </v-btn>

          <v-progress-linear
            rounded
            indeterminate
            height="6"
            class="mt-8"
            v-if="isLoading"
          />
        </div>
      </v-img>
    </transition>

    <v-card-text class="mt-4">
      <v-text-field
        outlined
        label="Titulo de la seccion"
        v-model="layout.title"
      />

      <v-textarea
        auto-grow
        outlined
        label="Escribe una descripcion"
        v-model="layout.description"
        hide-details
      />

      <v-row class="mt-4" v-if="layout.type === 1">
        <v-col cols="12">
          <h3 class="mt-4 mb-0">
            Enlaces
          </h3>
        </v-col>

        <v-col
          cols="12"
          v-for="(item, i) of layout.links"
          :key="i"
          class="d-flex align-center"
        >
          <v-text-field
            label="Link"
            dense
            outlined
            hide-details
            :value="item"
            v-model="layout.links[i]"
          />

          <v-btn
            color="primary"
            icon
            @click="removeLink(i)"
          >
            <v-icon>
              delete
            </v-icon>
          </v-btn>
        </v-col>

        <v-col class="col-md-12">
          <v-btn
            block
            outlined
            color="primary"
            @click="addLink"
          >
            <v-icon left>add</v-icon>
            Nuevo
          </v-btn>
        </v-col>
      </v-row>

      <v-row class="mt-4" v-if="layout.type === 2">
        <v-col cols="12">
          <h3 class="mt-4 mb-0">
            Archivos
          </h3>
        </v-col>

        <v-col
          cols="12"
          v-for="(item, j) of layout.sources"
          :key="j"
          class="d-flex align-center"
        >
          <v-file-input
            dense
            outlined
            label="Click para selecionar archivo"
            prepend-icon="attach_file"
            @change="setFileToList($event, j)"
          />
        </v-col>

        <v-col class="col-md-12">
          <v-btn
            block
            outlined
            color="primary"
            @click="addSource"
          >
            <v-icon left>add</v-icon>
            Nuevo
          </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
  import {Component, Vue, Emit, Prop} from "vue-property-decorator";
  import {ILayout} from "@/core/entity/notice/layout/ILayout";
  import {getModule} from "vuex-module-decorators";
  import Upload from "@/store/upload";
  import environment from "@/core/shared/environment";
  import {IFile} from "@/core/entity/file/IFile";

  @Component({
    name: "LayoutItem"
  })
  export default class LayoutItem extends Vue {
    @Prop({
      type: Object,
      required: true
    })
    private layout!: ILayout;

    @Prop({
      type: Number,
      required: true
    })
    private index!: number;

    public $refs!: {  file: HTMLFormElement }
    private uploadModule = getModule(Upload, this.$store);
    private isLoading = false;

    private setFile($event: any) {
      this.uploadImage($event.target.files[0]);
    }

    private openFiles() {
      this.$refs.file.click();
    }

    private async uploadSource(file: any) {
      const formData = new FormData;
      formData.append("files", file);
      const result = await this.uploadModule.uploadFile(formData);
      return result.data![0];
    }

    private async uploadImage(file: any) {
      this.isLoading = true;
      this.layout.source = await this.uploadSource(file);
      this.isLoading = false;
    }

    private async deleteAndResetSource() {
      this.isLoading = true;

      this.$refs.file.value = null;
      const source = this.layout.source as IFile;
      await this.uploadModule.deleteFile([source.name]);

      this.layout.source = "";
      this.isLoading = false;
    }

    private addLink() {
      this.layout.links?.push("");
    }

    private addSource() {
      /*const sources = this.layout.sources as string[];
      sources.push("");
      this.layout.sources = sources;*/
      // @ts-ignore
      this.layout.sources.push("");
    }

    private removeLink(index: number) {
      this.layout.links!.splice(index, 1);
    }

    private linkActions() {
      if (this.layout.links.length === 0) {
        this.addLink();
        this.layout.type = 1;
      } else {
        this.layout.type = 0;
        this.layout.links = [];
      }
    }

    private fileActions() {
      if (this.layout.sources.length === 0) {
        this.addSource();
        this.layout.type = 2;
      } else {
        this.layout.type = 0;
        this.layout.sources = [];
      }
    }

    private async setFileToList($event: File, i: number) {
      this.isLoading = true;
      const fileUploaded = await this.uploadSource($event);
      this.layout.sources[i] = fileUploaded._id;
      this.addSource()
      this.layout.sources.pop();
      this.isLoading = false;
    }

    @Emit()
    private removeLayout() {
      return this.index;
    }

    get source() {
      const source = this.layout.source as IFile;
      return `${environment.base_storage_url}/${source.name}`;
    }
  }
</script>

<style scoped>
  .shadow-image {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .max-height-cover {
    height: 40vh;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0
  }
</style>