<template>
  <div>
    <v-img
      v-if="notice.cover.length !== 0"
      style="height: 40vh"
      position="center"
      :src="notice.cover"
    />

    <v-img
      v-else
      style="height: 40vh"
      position="center"
      src="https://cutt.ly/emhGzPS"
    />

    <v-container>
      <v-row>
        <v-col class="mt-10">
          <p class="mb-0 font-weight-bold text-primary">
            {{ new Date().toString() | timeToSpanish }}
          </p>

          <h1 class="title-notice">
            {{ notice.title }}
          </h1>

          <p class="mt-4 description-text">
            {{ notice.description }}
          </p>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row v-for="(layout, i) of notice.layouts" :key="i">
        <v-col>
          <h2 style="font-size: 36px">
            {{ layout.title }}
          </h2>

          <p class="mt-4" style="color: #767676">
            {{ layout.description }}
          </p>

          <v-img
            v-if="layout.source"
            :src="`http://localhost:3000/storage/${layout.source.name}`"
            class="mt-10"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">

  import {Component, Prop, Vue} from "vue-property-decorator";
  import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";

  @Component({
    name: "NoticePreview",
    filters: {
      timeToSpanish(date: string) {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString("es-ES", options);
      }
    }
  })
  export default class NoticePreview extends Vue {
    @Prop({
      type: Object,
      required: true
    })
    private notice!: NoticeEntity;
  }
</script>

<style scoped>
  .link-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .text-primary {
    color: #3DE29D
  }

  .description-text {
    color: #767676;
    white-space: pre-line;
  }

  .title-notice {
    font-size: 64px;
  }

  @media screen and (max-width: 768px) {
    .title-notice {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 425px) {
    .title-notice {
      font-size: 36px;
    }
  }
</style>