<template>
  <v-col class="col-md-6">
    <v-card elevation="1">
      <v-img
          v-if="notice.cover"
          :src="notice.cover"
          position="center"
          min-height="200px"
          max-height="200px"
          class="rounded cursor-pointer"
          @click="goToNotice"
      />

      <v-img
          v-else
          :src="alternativeCover"
          position="center"
          min-height="200px"
          max-height="200px"
          class="rounded cursor-pointer"
          @click="goToNotice"
      />

      <v-card-text>
        <div class="d-flex justify-space-between">
          <h2 class="line-normal cursor-pointer" @click="goToNotice">
            {{ notice.title }}
          </h2>

          <v-menu>
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>
                  more_vert
                </v-icon>
              </v-btn>
            </template>

            <v-list>
              <!--              <v-list-item link>
                              <v-list-item-title>
                                Editar
                              </v-list-item-title>
                            </v-list-item>-->

              <v-list-item link @click="deleteNotice">
                <v-list-item-title>
                  Eliminar
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>

        <p class="mt-4">
          {{ notice.description | textLength }}
        </p>

        <p class="color-primary">
          {{ notice.createdAt | timeToSpanish }}
        </p>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script lang="ts">

import {Component, Emit, Prop, Vue} from "vue-property-decorator";
import {NoticeEntity} from "@/core/entity/notice/NoticeEntity";

@Component({
  name: "NoticeItem",
  filters: {
    textLength(text: string) {
      return `${text.substr(0, 80)}...`;
    },
    timeToSpanish(date: string) {
      const options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
      return new Date(date).toLocaleDateString("es-ES", options);
    }
  }
})
export default class NoticeItem extends Vue {
  @Prop({required: true})
  public notice!: NoticeEntity;

  private alternativeCover = "https://scontent.fmex1-1.fna.fbcdn.net/v/t1.6435-9/46525823_121586172095329_6368875993850970112_n.png?_nc_cat=105&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeFCLX74zUes4aCMBeAVieb7qBpn9Zwg3tCoGmf1nCDe0LoHlSdCHRMZ4Oy5mgxDNETAY5ZH66n1QYbrdPjQ1EPP&_nc_ohc=npUdeEdqOewAX_FDd6r&_nc_ht=scontent.fmex1-1.fna&oh=02e2cb963a9ab1b80b21103968763645&oe=60E35941";

  private goToNotice() {
    this.$router.push(`/anuncio/${this.notice._id}`);
  }

  @Emit()
  private async deleteNotice() {
    return this.notice._id;
  }
}
</script>

<style scoped>
.line-normal {
  line-height: normal !important;
}

.color-primary {
  color: #3DE29D;
}

.cursor-pointer {
  cursor: pointer;
}
</style>