<template>
  <transition name="fade">
    <router-view />
  </transition>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {getModule} from "vuex-module-decorators";
  import Preferences from "@/store/preferences";

  @Component({
    name: 'App',
  })
  export default class App extends Vue {

    private preferencesModule = getModule(Preferences, this.$store);

    public mounted() {
      if (this.preferencesModule.darkMode) {
        if (this.$vuetify.theme.dark) this.preferencesModule.switchDarkMode();
        this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      }
    }
  };
</script>

<style lang="scss">
  h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
  }
</style>
