<template>
  <v-app>
    <v-navigation-drawer app clipped v-if="!active">
      <v-list>
        <MenuLink
            v-for="(item, i) of webModule.menu"
            :web-route-entity="item"
            :key="i"
        />
      </v-list>

      <v-divider/>

      <v-list-item link to="/configuraciones">
        <v-list-item-icon>
          <v-icon color="#3DE29D">
            settings
          </v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #7E7E7E">
            Configuraciones
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>

    <v-navigation-drawer app clipped v-else v-model="active">
      <v-list>
        <MenuLink
            v-for="(item, i) of webModule.menu"
            :web-route-entity="item"
            :key="i"
        />
      </v-list>

      <v-divider/>

      <v-list-item link to="/configuraciones">
        <v-list-item-icon>
          <v-icon color="#3DE29D">
            settings
          </v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #7E7E7E">
            Configuraciones
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>

    <v-app-bar app dense elevation="1" clipped-left>
      <v-app-bar-nav-icon @click="openBar" class="d-flex d-md-none">
        <v-icon color="primary">
          menu
        </v-icon>
      </v-app-bar-nav-icon>

      <v-toolbar-title>
        TESCo Admin
      </v-toolbar-title>

      <v-spacer/>

      <v-btn icon color="primary" @click="switchMode">
        <v-icon>
          brightness_medium
        </v-icon>
      </v-btn>

      <v-btn icon color="primary" to="/configuraciones">
        <v-icon>
          settings
        </v-icon>
      </v-btn>

      <v-btn icon color="primary" @click="logout">
        <v-icon>
          exit_to_app
        </v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <slot/>
    </v-main>

  </v-app>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {getModule} from "vuex-module-decorators";
import Web from "@/store/web";
import MenuLink from "@/components/MenuLink.vue";
import Preferences from "@/store/preferences";
import Auth from "@/store/auth";

@Component({
  name: "AppLayout",
  components: {MenuLink}
})
export default class AppLayout extends Vue {

  private authModule = getModule(Auth, this.$store);
  private webModule = getModule(Web, this.$store);
  private preferencesModule = getModule(Preferences, this.$store);

  private active = false;

  public switchMode() {
    this.preferencesModule.switchDarkMode();
    this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
  }

  private openBar() {
    this.active = true;
  }

  logout() {
    this.authModule.logout()
      .then(() => this.$router.push("/"))
  }
}
</script>

<style scoped>

</style>